*,
*::before,
*::after {
    box-sizing: border-box;
}
body{
    background-color:teal;
display: inline-block;
/* display: flex; */
column-width: 2000px;
}
.hero-title{
    font-size: 36px;
    font-family: Raleway, sans-serif;
        font-weight: 700;
        text-align: center;
        line-height: 1.19;
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        text-align: center;
}
.books{
    display: flex;
    flex-wrap: wrap;
}
h2{
    color: greenyellow;
}
/* .textbook:nth-child(3n + 2){
    margin:0 10px;
    /* padding:5px; */
} */
.textbook{
    margin:10px;
}